
.container{
    display: flex;
    gap: 4%;
    position:relative;
    top: 30px;
    left: 50px;
    

}

.box{
    width: 90px;
    height: 90px;
    background-color: aqua;
    position: fixed;
    top: 50%;
   right: 50%;
}
.picture{
    width:50px;
    position: static;

    
}