body{
    font-family: Arial, Helvetica, sans-serif;
    background: white
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 } 

.form-container {
    background: #ffffff;
    width: 420px;
    padding: 25px 30px;
    border-radius: 10px;

}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #444;
}

input type{
 width: 40px;  
 color: aliceblue;
 height:40px;
 
}
select {
width: 40px;
color: aquamarine;
margin-left: 20px;

}
option{
display: flex;  
width: 30px;  
color: aliceblue;
margin-bottom:10px;

}

