form{
margin:20px;
max-width:600px;
padding: 25px;
background-color: #f9f9f9;

}
label{
display:block;
margin-top:20px;
font-weight: bold;
}

input type{
    /* display: flex; */
width: 150%;
padding:20px;
border-radius:8px;
}







