form{
max-width: 500px;
margin:10px;
padding: 25px;
background-color: #f9f9;
border-radius: 10px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input type{
    width: 100%;
    padding: 20px;
    border: 10px;
    border-radius:8px;
    
}



