form{
margin:20px;
max-width:600px;
padding: 30px;
background-color: #f8f8f8;

}
label{
display:flex;
margin-top:20px;
font-weight: bold;
}

inut type{
width: 150%;
padding:30px;
border-radius: 10px;
}







